<div class="jumbotron2">

<div class="container">
<h1>Search For Your Fav Movie!</h1>

<%= form_tag('/', method: 'get') do %>
	<%= label_tag(:q, 'Look up:') %>
	<%= text_field_tag(:q, @q) %>
	<%= submit_tag('Search') %>
	<% if :q.present? %>
		<% link_to 'Clear', movies_path %>
	<% end %>
<% end %><br>

</div>

</div>

<div class="jumbotron3">

<div class="container movie-results">
	<% @movies.each do |movie| %>
		<h2><%=movie.title%></h2>
		<h4><%=movie.year%></h4>
		<div class="container ratingsresults">
		<%movie.rating.each do |r|%>
			<%=r.ratingLabel %>: <%=r.getRating%><br>
		<%end%>
		<%=movie.llamaRating %>
		</div>
	<% end %>
</div>

<br>
<div class="container footer"
<footer> save the drama for your llama </footer>
</div>
<br>

</div>

