<div class="jumbotron2">

<div class="container">
<h1>Find My Movie!</h1>

<%= form_tag('/', method: 'get') do %>
	<%= text_field_tag(:q, @q, :placeholder => 'title') %>
	<%= text_field_tag(:ymin, @ymin, :placeholder => 'after') %>
	<%= text_field_tag(:ymax, @ymax, :placeholder => 'before') %>
	<%= text_field_tag(:imdbmin, @imdbmin, :placeholder => '>rating') %>
	<%= submit_tag('Search') %>
	<%= submit_tag("I'm Feeling Lucky") %>
	<% if :q.present? %>
		<% link_to 'Clear', movies_path %>
	<% end %>
<% end %><br>
</div>

</div>

<div class="jumbotron3">

<div class="container movie-results">
	<% if @movies.empty? %>
		<h2>Sorry, no such drama in the llamabase :(</h2>
		<img src="<%= asset_path('sadllama.jpeg') %>" />
	<% end %>
	<% @movies.each do |movie| %>
		<h2><%=movie.title%> (<%=movie.year%>)</h2>
		<div class="container ratingsresults">
		<%movie.rating.each do |r|%>
			<%=r.ratingLabel %>: <%=r.getRating%><br>
		<%end%>
		<%=movie.llamaRating %>
		</div>
	<% end %>
</div>

<br>
<div class="container-fluid footer">

<footer>save the drama for your llama </footer>
</div>


</div>

