 <div class="jumbotron2"> 
 	<h1 class="findertitle">Find My Movie!</h1>
 	<%= form_tag('/', method: 'get') do %>
 	<%= text_field_tag(:q, @q, :placeholder => 'title', :class => "searchfield") %>
 	<%= text_field_tag(:ymin, @ymin, :placeholder => 'after', :class => "searchfield") %>
 	<%= text_field_tag(:ymax, @ymax, :placeholder => 'before', :class => "searchfield") %>
 	<%= text_field_tag(:imdbmin, @imdbmin, :placeholder => 'min IMDB score', :class => "searchfield") %>
 	<%= text_field_tag(:rtmin, @rtmin, :placeholder => 'min Rotten Tomatoes score', :class => "searchfield") %><br><br>
 	<%= submit_tag('Search', :class => "btn searchbtn") %>
 	<a class="btn luckybtn" href="/?s=search">Feeling Lucky</a>
 	<input type='hidden' name='s' value='search'>
 	<% end %>
 </div>


 <div class="jumbotron3">
 	<div class="container movie-results">

 		<div class="notfound">
 			<% if @movies.empty? and @home != true %>
 			<h2 class="llamaerror"> We're sorry, our army of llamas can't find your movie! </h2>
 			<img class="llamaerror" src="<%= asset_path('sadllama.jpeg') %>" />
 			<h2 class="llamaerror"> Hint: Try searching without filters.</h2>
 			<% end %>
 		</div>

 		
 		<% @movies.each do |movie| %>
 		<div class="row">
 			<div class="col-sm-3 postersettings">
 				<% if movie.poster_url == "N/A" %>
 				<img class="" src="<%= asset_path('movieposterunavail.png') %>" />
 				<% else %>
 				<%= image_tag movie.poster_url %>
 				<% end %>
 			</div>

 			<div class="col-sm-9 details">
 				<h2 class="results-title"><%=movie.title%> (<%=movie.year%>)</h2>
 				<p class="results-subtitle"><%=movie.genre %> | <span class="glyphicon glyphicon-time"></span> 
 					<%= pluralize(movie.runtime/60, 'hr' )%> 
 					<%= pluralize(movie.runtime%60, 'min' )%> 
 					<% if movie.oscars > 0 %>
 					| <%=pluralize(movie.oscars, 'Oscar')%> 
 					<% end %>
 				</p>

 				<div class="results-ratings">
 					<%movie.rating.order('source').each do |r|%>
 					<% if r.source == 'imdb' %>
 					<a href="http://www.imdb.com/title/<%=movie.imdbid%>" target="_blank"><img class="icon" src="<%= asset_path('imdb.png') %>" /> </a>
 					<%else%>
 					<img class="icon" src="<%= asset_path('tomato.png') %>" />
 					<% end %>
 					<%=r.getRating%> 
 					<%end%>
 					<img class="icon" src="<%= asset_path('llama.jpg') %>" /><%=movie.llamaRating %>
 				</div>					

 				<div class="results-plot">
 					<p><%=movie.plot%></p>
 				</div>

 				<div class="results-watch">
 					<%movie.source.each do |s|%>
 					<a href="http://www.imdb.com<%=s.url%>" target="_blank" >
 						<%if s.price? %>
 						Amazon price: 
 						<%=number_to_currency s.price%>
 						<%end%>
 						<img class="source" src="<%=asset_path(Movie.sourceimage s.name) %>">
 						<%end%>
 					</a>
 				</div>

 			</div>	
 		</div>
 		<% end %>
 		

 	</div>
 </div>

 <div class="container-fluid footer">
 	<footer>save the drama for your llama</footer>
 </div>